{% extends 'base.html' %}
{% block title %}Профіль користувача{% endblock %}
{% block content %}
  <div class="hstack gap-3 mb-2">
    <h1>Профіль</h1>
    {% if user.is_superuser %}
      <a href="{% url 'change-detail-profile' profile.pk %}" class="btn btn-primary p-2 ms-auto">Редагувати</a>
    {% else %}
      <span class="ms-auto"></span>
    {% endif %}
    <a href="{% url 'list-grades' profile.pk %}" class="btn btn-outline-secondary p-2">Оцінки</a>
    {% if request.user.is_authenticated and request.user.profile.role != 'user' %}
      <a href="{% url 'add-grade' profile.pk %}" class="btn btn-outline-primary p-2">Додати оцінку</a>
    {% endif %}
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">
        {{ profile.user.username }}
        <span class="badge text-bg-{% if profile.role == 'user' %}info{% elif profile.role == 'moderator' %}danger{% else %}warning{% endif %}">{{ profile.role }}</span>
      </h5>
      <p class="card-text text-muted">Середня оцінка: {{ average_score }}</p>
      {% if profile.bio %}<p class="card-text">{{ profile.bio }}</p>{% endif %}
      {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="Avatar" class="img-thumbnail" style="max-width: 150px;">
      {% endif %}
    </div>
  </div>
{% endblock %}
