{% extends 'base.html' %}
{% block title %}Видалити оцінку{% endblock %}
{% block content %}
  <div class="hstack gap-3 mb-2">
    <h1>Видалити оцінку</h1>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <p class="card-text">Ви впевнені, що хочете видалити цю оцінку?</p>
      <p class="card-text text-muted">{{ grade.description }} — {{ grade.score }}</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Видалити</button>
        <a href="{% url 'list-grades' grade.profile.pk %}" class="btn btn-secondary">Скасувати</a>
      </form>
    </div>
  </div>
{% endblock %}
