{% extends 'base.html' %}
{% block title %}Оцінки{% endblock %}
{% block content %}
  <div class="hstack gap-3 mb-2">
    <h1>Оцінки</h1>
    {% if user.profile.role == 'admin' or user.profile.role == 'moderator' %}
      <a href="{% url 'add-grade' profile.pk %}" class="btn btn-primary p-2 ms-auto">Додати оцінку</a>
    {% endif %}
  </div>
  <p class="text-muted mb-2">{{ profile.user.username }}</p>
  {% for grade in grades %}
    <div class="card mb-2">
      <div class="card-header hstack gap-2">
        <div class="p-2">{{ grade.created_at|date:"d.m.Y" }}</div>
        {% if user.profile.role == 'admin' or user.profile.role == 'moderator' %}
          <a href="{% url 'edit-grade' grade.pk %}" class="btn btn-outline-secondary p-2 ms-auto">Змінити</a>
          <a href="{% url 'delete-grade' grade.pk %}" class="btn btn-outline-danger p-2">Видалити</a>
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">{{ grade.description }}</p>
        <small class="text-muted">Оцінка: <strong>{{ grade.score }}</strong></small>
      </div>
    </div>
  {% empty %}
    <p>Оцінок немає.</p>
  {% endfor %}
{% endblock %}
