{% extends 'base.html' %}
{% block content %}
    {% for media in media_list %}
        {% if media.media.url|lower|slice:"-4:" == ".mp4" %}
            <video width="400" controls>
                <source src="{{ media.media.url }}" type="video/mp4">
            </video>
        {% else %}
            <img src="{{ media.media.url }}" style="max-width: 300px;">
        {% endif %}

        <p>Загрузив: {{ media.uploaded_by }}</p>

        <form method="post" action="{% url 'approve-addition' media_id=media.id %}">
            {% csrf_token %}
            <button type="submit">
                Схвалити
            </button>
        </form>

    {% empty %}
        <p>Нема фото для перевірки</p>
    {% endfor %}
{% endblock %}