{% extends 'base.html' %}
{% block title %}Профіль користувача{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Профіль користувача</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Ім'я користувача: {{ profile.user.username }}</h5>
            <p class="card-text">Роль: {{ profile.role }}</p>
            <p class="card-text">Біо: {{ profile.bio }}</p>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" class="img-thumbnail" style="max-width: 150px;">
            {% else %}
                <p>Аватар відсутній</p>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'change-profile' %}" class="btn btn-primary">Редагувати профіль</a>

</div>

{% endblock %}