{% extends 'base.html' %}

{% block title %}Редагування профілю{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label style="color: white;" for="bio">Біо:</label>
        <textarea class="form-control" id="bio" name="bio" rows="3">{{ profile.bio }}</textarea>

        <label>Змінити аватар</label>
        {{ form.avatar }}

        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </div>
</form>

{% endblock %}