{% extends 'base.html' %}
{% block title %}Додати подію{% endblock %}
{% block content %}
  <div class="hstack gap-3 mb-2">
    <h1>Додати подію</h1>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}<div class="text-danger">{{ field.errors }}</div>{% endif %}
      </div>
    {% endfor %}
    {{ event_media_formset.management_form }}
    {% for event_media_form in event_media_formset %}
      <div class="card mb-2">
        <div class="card-body">
          {% for field in event_media_form %}
            <div class="mb-2">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Додати</button>
    <a href="{% url 'calendars-list' %}" class="btn btn-secondary">Скасувати</a>
  </form>
{% endblock %}
