{% extends 'base.html' %}
{% block content %}
    <h1>Список подій</h1>

    <a href="{% url 'add-event' calendar_id=calendar.pk %}">Додати  подію</a>

    <a href="{% url 'calendar-events' calendar_id=calendar.pk %}">Перейти на календар</a>

    {% for event in events_list %}
        <a href="{% url 'event-detail' calendar_id=calendar.pk event_id=event.pk %}">{{ event.title }}</a>
        <p>{{ event.description }}</p>

        {% for media in event.media.all %}
            {% if media.media_type == 'image' and media.image %}
                <img src="{{ media.image.url }}" alt="{{ event.title }}" width="500px", height="300px">
            {% elif media.media_type == 'file' and media.file %}
                <a href="{{ media.file.url }}">Відкрити файл</a>
            {% elif media.media_type == 'url' and media.url %}
                <a href="{{ media.url }}" target="_blank"></a>
            {% endif %}
        {% endfor %}

        <p>{{ event.date_of_start }}</p>
        <p>{{ event.date_of_end }}</p>
        <p>{{ event.creator }}</p>
    {% empty %}
        <h3>Подій в календарі поки нема.</h3>
    {% endfor %}
{% endblock %}